body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    background: black;
    max-width: 100%;
    max-height: 100%;
}

/*body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
}

#leftBox {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #F8FFB5;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 5px;
}

#rightBox {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #F8FFB5;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 5px;
}

.container {
    width: 800px;
    height:400px;
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
}

.containerButton {
    display: flex;
    gap: 10px; 
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
}

#btnOne, #btnTwo {
    background-color: #F28705;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}


#btnTwo {
    margin-right: 12px;
}

#btnTwo:hover {
    background-color: white;
    color: #F28705;
}

#btnOne:hover {
    background-color: #F23030;
    color: white;
}

.containerCanvas {
    position: relative;
}

.scoreBoard {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: space-between;
    white-space: nowrap;
}

#alert {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: #F2CB05;
    top: 150px;
    width: 100%;
    z-index: 1;
}

.blink {
    animation: blinkAnimation 0.5s linear infinite;
}

@keyframes blinkAnimation {
    50% {
        opacity: 0;
    }
}*/